<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<typeAlias type="board.dto.BoardDTO" alias="Board" />
		<typeAlias type="board.dto.BoardPageDTO" alias="BoardPageDTO" />
		<typeAlias type="board.dto.UserDTO" alias="User" />
		<typeAlias type="board.dto.ReplyDTO" alias="Reply" />
	</typeAliases>

	<mappers>
		<mapper resource="kr/co/datastreams/mybatis/BoardMapper.xml" />
		<mapper resource="kr/co/datastreams/mybatis/UserMapper.xml" />
		<mapper resource="kr/co/datastreams/mybatis/ReplyMapper.xml" />
	</mappers>

</configuration>